
@{
    Layout = null;
}


<h3>Login acc</h3>
<form method="post">
    <div>
        <label for="Nome">Nome</label>
        <input type="text" name="Nome" id="Nome" value="" />
        <br /> <br />
        <label for="Senha">Senha</label>
        <input type="password" name="Senha" id="Senha" value="" />
    </div>
    <button formaction="/Account/Login">Login</button>
</form>